.cabecalho-moda{
background-color: #BB86FC;
color: white;
padding: 10px ;



}

.cabecalho-casa{
    background-color: #00C4B4;
    color: white;
    padding: 10px;
    
    }

    .interno-tabela{
        background-color: #424250;
        color: white;
        padding: 6px;
    }